Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@dallinks 
dallinks
/
minesweeper
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
minesweeper/src/index.css
@dallinks
dallinks Initialize project using Create React App
Latest commit ea4b40c 3 days ago
 History
 1 contributor
13 lines (12 sloc)  366 Bytes
   
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
